body{
    background:rgb(48, 101, 50);
    color:rgb(145, 146, 179);
}
.heading{
    width: 80%;
    font-size: 25px;
}
#camera{
    width: 350px;
    height: 300px;
    border: 2px dashed black;
}
#result_object_name,#result_object_accuracy,.name_of_objects{
    color:rgb(226, 43, 43);
}